@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&family=Lexend:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Lexend", sans-serif;

  --color-tertiary-fixed: #00e3fd;
  --color-on-background: #2a2f32;
  --color-inverse-primary: #ff5722;
  --color-on-primary-container: #470e00;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary: #ffefeb;
  --color-surface-dim: #ced5db;
  --color-on-surface: #2a2f32;
  --color-background: #f3f7fb;
  --color-secondary-dim: #154ba5;
  --color-on-secondary-container: #01429c;
  --color-surface-container-low: #ecf1f6;
  --color-on-primary-fixed: #000000;
  --color-secondary-fixed: #c1d1ff;
  --color-primary-fixed: #ff7851;
  --color-error-dim: #9f0519;
  --color-secondary-container: #c1d1ff;
  --color-tertiary-container: #00e3fd;
  --color-inverse-on-surface: #999da1;
  --color-outline: #73777b;
  --color-primary-fixed-dim: #ff5d2b;
  --color-on-tertiary: #d8f8ff;
  --color-on-secondary: #f0f2ff;
  --color-primary-dim: #962700;
  --color-on-tertiary-container: #004d57;
  --color-on-secondary-fixed: #003076;
  --color-surface-container: #e3e9ee;
  --color-outline-variant: #a9aeb1;
  --color-secondary-fixed-dim: #acc3ff;
  --color-inverse-surface: #0a0f12;
  --color-primary: #ab2d00;
  --color-primary-container: #ff7851;
  --color-surface-tint: #ab2d00;
  --color-tertiary-fixed-dim: #00d4ec;
  --color-tertiary: #006571;
  --color-error-container: #fb5151;
  --color-on-secondary-fixed-variant: #174ca6;
  --color-error: #b31b25;
  --color-on-error: #ffefee;
  --color-on-primary-fixed-variant: #581300;
  --color-surface-container-high: #dde3e8;
  --color-on-error-container: #570008;
  --color-on-surface-variant: #575c60;
  --color-surface-variant: #d7dee3;
  --color-secondary: #2858b2;
  --color-tertiary-dim: #005863;
  --color-on-tertiary-fixed-variant: #005762;
  --color-on-tertiary-fixed: #003840;
  --color-surface: #f3f7fb;
  --color-surface-bright: #f3f7fb;
  --color-surface-container-highest: #d7dee3;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body selection:bg-primary-container/30;
  }
}

.glass-panel {
  background: rgba(193, 209, 255, 0.15);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
